*{
    margin: 0;
    padding: 0;
}
body{
    height: 110vh;
}
.navbar{
    height: 60px;
    display: flex;
    align-items: center;
}
#background{
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    height: 110vh;
    width: 100%;
    position: absolute;
}
.mr{
    margin: auto;
}
nav{
    font-family: 'Comfortaa', cursive;
}
.nav-link{
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}
main{
    display: block;
}
#calculate{
    display: flex;
    align-items: center;
    font-size: 1.7em;
    line-height: 10px;
    padding: 17px 50px 20px 50px;
    margin-left: 10px;
    margin-right: 10px;
}
#time-picker{
    font-size: 1.6em;
    line-height: 25px;
}
.text-center{
    color: #fff;
    margin-top: 4%;
    font-family: 'Lato', sans-serif;
}
.text-center h1{
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 5px;
}
.text-center p{
    font-size: 30px;
}
.container-md{
    display: flex;
    margin-top: 8%;
}
#content-text{
    font-family: 'Lato', sans-serif;

}
#content-text h1{
    visibility: hidden;
    font-size: 8em;
}
#content-text h2{
    visibility: hidden;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 2em;
}

